<p>Registrazione</p>
<form id="registerform" #registerform="ngForm" (ngSubmit)="onSubmit(registerform)">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="nome" name="nome" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!registerform.valid">Submit</button>
</form>