/* .example-container {
    width: auto;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
    background: #eee;
} */

.active{
    background-color: rgb(134, 129, 177);
}

.example-spacer {
    flex: 1 1 auto;
    
}

.iconna{
    color: whitesmoke!important;
}

mat-toolbar{
background-color: rgba(73, 73, 255, 0.582);
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #eee;
}