<h2 mat-dialog-title>Add new Element</h2>
<form [formGroup]="dialogform" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>No.</mat-label>
            <input matInput type="number" name="no" formControlName="no" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Weight</mat-label>
            <input matInput type="text" name="weight" formControlName="weight" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Symbol</mat-label>
            <input matInput type="symbol" name="symbol" formControlName="symbol" required />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancell</button>
        <button mat-button [mat-dialog-close]="{ id, name, weignh, symbol }" cdkFocusInitial type="submit"
            [disabled]="!dialogform.valid">Add</button>
    </mat-dialog-actions>
</form>